html,
body {
    background-color: $dark;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.font{
    font-family: Inter, "Inter Fallback: Arial", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}
@mixin flex($justify:space-between){
    display: flex;
    align-items: center;
    justify-content: $justify;
}
%transition{
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.flex-space-between{
    @include flex();
}
.buttons{
    @include flex(center);
    gap: 10px;
    
}
.flat{
    background-color: transparent;
    color: $white;
}
